@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;800;900&display=swap');
* {
    box-sizing: unset !important;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    width: 100% !important;
    position: relative;
    font-family: "Poppins", sans-serif !important;
    height: 100vh;
}

.container-presentation {
    background-image:url(../img/s1\ ft1.png);
    background-size: 1350px 630px;
    background-repeat:no-repeat;
    background-position: center center;
    height: 100vh;
    color: white;  
}

nav {
    height: 80px;
    background-color: rgb(0, 0, 0, 0);
    width: 100%;
}

nav a {
    text-decoration:none;
    font-size:14px;
    letter-spacing: 1px;
    font-weight: bold;
    color:#FFF;
    float: right;
    padding-left: 28px;
}
nav a:hover {
    color: #1cd4e9;
}

.nav-bar-links{
    display: inline;
    float: right;
    margin-right: 110px;
    margin-top: 30px; 
}

#logo-header {
    width: 161px;
    height: 40px;
    margin-top: 20px;
    margin-left: 90px;
}

.nav-bar {
    width: 100%;
    display: inline-block; 
}

.apresentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
}

.title-presentation{
    font-size: 54px;
    font-weight: bolder;
    text-align: center;
    line-height: 1.2;
}

.description-presentation{
    font-size: 20px;
    font-weight: 400;
    width: 47vw;
    margin-top: 5px;
    line-height: 1.5;
    text-align: center;
}

#style-span-description-presentation{
    color: #efe60b;
}

.button-contact-presentation{
    background-color: #1cd4e9;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    width: 18em;
    margin-top: 25px;
}

.fullcontent {
    z-index: 1; 
    width: 100%; 
    position: relative;
    overflow: hidden;
}

.firstbar {
    z-index: 1;
    height: 200vh;
    width: 50vw;
    background-color: rgb(239, 230, 11);
    transform: rotate(43deg);
    position: absolute;
    top: -25%;
    left: -25.5%;
}

.secondbar {
    z-index: 1;
    height: 500vh;
    width: 30%;
    background-color: rgb(78, 76, 74);
    transform: rotate(40deg);
    position: absolute;
    left: 61%;
    top: -29%;
    
}

.content {
    z-index: 2;
    position: relative;
    height: 100vh;
}

.content-about {
    z-index: 2;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.content-about-title-page {
    margin-top: -500px;
    margin-left: 90px;
    font-size: 35px;
    font-weight: 800;
}

.content-about-paragraph{
    width: 60vw;
    height: 25vw;
    padding: 30px;
    box-shadow: 0px 0px 10px -2px #0000004D;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 60px;
    margin-left: -190px;
    background-color: white;
}

#content-about-bold-paragraph{
    font-weight: bold;
}

.content-services{
    z-index: 2;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.content-services-title {
    margin-top: -600px;
    margin-left: 90px;
    font-size: 35px;
    font-weight: 800;
}

.content-services-information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 100%;
    align-items: center;
    margin-left: -300px;
}

.services-information-header {
    color: #efe60b;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.services-information {
    float: left;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 300 bold;
}

#services-information-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/s3\ ft1.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
    background-size: cover;
    width: 25vw;
    height: 60vh;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

#services-information-performance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/s3\ ft2.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;
    width: 25vw;
    height: 60vh;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

#services-information-technology{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/s3\ ft3.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;
    width: 25vw;
    height: 60vh;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

.content-differentials{
    z-index: 2;
    position: relative;
    height: 100vh;
}
.content-differentials-title{
    margin-left: 90px;
    font-size: 35px;
    font-weight: 800;
}

.content-differentials-information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 100%;
    align-items: center;
    margin-left: 90px;
}

.first-differentials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../img/s4\ ft1.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
    background-size: cover;
    width: 20vw;
    padding: 40px;
    color: white;
    font-size: 18px;
    font-family: 600;
}

.second-differentials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../img/s4\ ft2.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
    background-size: cover;
    width: 20vw;
    padding: 40px;
    color: white;
    font-size: 18px;
    font-family: 600;
}

.third-differentials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../img/s4\ ft3.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
    background-size: cover;
    width: 20vw;
    padding: 40px;
    color: white;
    font-size: 18px;
    font-family: 600;
}

.content-footer{
    height: 100vh;
    width: 100%;
    background-color: #efe60b;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(23, 21, 21);
    color: white;
    padding: 40px 80px;
    height: 75vh;
    width: 100%;
    display: block;
}

.content-social-networks {
    width: 30vw;
    float: left;
}

.facebook-linkedin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.img-social-media-footer {
    height: auto; 
    width: auto; 
    max-width: 15px; 
    max-height: 15px;
} 

.content-contact-social-media-footer {
    display: flex;
    width: 85%;
    height: 40px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.paragraph-social-media-footer {
    margin-left: -35px;
}

.content-address-footer{
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#paragraph-address-footer {
    margin-left: 10px;
}

#first-paragraph-footer {
    color:white;
    font-size: 16px;
    font-weight: 600;
}

#second-paragraph-footer {
    color:#efe60b;
    font-size: 16px;
    font-weight: 600;
}

#third-paragraph-footer {
    color:#1cd4e9;
    font-size: 16px;
    font-weight: 600;
}

.content-registration-send-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(161, 161, 161);
    width: 30vw;
    float: right;
    padding: 20px;
}

 footer, input, button {
    border: none;
    height: 40px;
    width: 400px;
    margin-bottom: 20px;
 }


.content-input-message{
    display: flex;
    text-align: start;
}

 .input-message {
    height: 120px;
}

.button-message-send{
    margin-bottom: 0;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    background-color:  #1cd4e9;
}
