@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;800;900&display=swap');
* {
    box-sizing: unset !important;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    width: 100% !important;
    position: relative;
    font-family: "Poppins", sans-serif !important;
    height: 100vh;
}

.container-presentation {
    background-image:url(../img/s1\ ft1.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    height: 100vh;
    color: white;  
}

header{
    background-color: transparent;
    display:flex;
}

nav {
    z-index: 2;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
}

#contact-header {
    color: #efe60b;
}

#contact-header:hover {
    color: #1cd4e9;
}

nav a {
    text-decoration:none;
    font-size:14px;
    letter-spacing: 1px;
    font-weight: bold;
    color:#FFF;
    float: right;
    padding: 0.5rem;
}

nav a:hover {
    color: #1cd4e9;
}

.nav-scrolling-active {
    z-index: 2;
    background-color: black;
    transition: background-color 0.4s linear;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    
}

.nav-scrolling-active nav a {
    color:  #1cd4e9;
}

.nav-scrolling-active #contact-header {
    color: white
}

.nav-scrolling-active nav a:hover {
    color: #efe60b;
}

.nav-scrolling-active #contact-header:hover {
    color:#efe60b;
}

.nav-bar-links{
    box-sizing: border-box;
    display: flex;
    list-style: none;
    float: right;
    gap: 1rem;
    margin-right: 5%; 
    margin-top: 2%;  
}

#logo-header {
    position: static;
    width: 161px;
    height: 40px;
    margin-top: 20px;
    margin-left: 40px; 
}
    
#menu {
    display: none;
}

.nav-bar{
    display:block;
}

.apresentation{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 15vh;
}

.title-presentation{
    font-size: 58px;
    font-weight: bolder;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
}

.description-presentation{
    font-size: 20px;
    font-weight: 400;
    width: 47vw;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
}

#style-span-description-presentation{
    color: #efe60b;
    font-weight: 600;
}

.button-contact-presentation{
    text-decoration:none;
    background-color: #1cd4e9;
    color: white; 
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    width: 20VW;
    height: 3vh;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}

.fullcontent {
    z-index: 1; 
    width: 100%; 
    position: relative;
    overflow: hidden;
}

.firstbar {
    z-index: 1;
    height: 200vh;
    width: 50vw;
    background-color: rgb(239, 230, 11);
    transform: rotate(43deg);
    position: absolute;
    top: -25%;
    left: -25.5%;
}

.secondbar {
    z-index: 1;
    height: 500vh;
    width: 30%;
    background-color: rgb(78, 76, 74);
    transform: rotate(40deg);
    position: absolute;
    left: 64%;
    top: -29%;
}

.content {
    z-index: 2;
    position: relative;
    height: 100vh;
}

.content-about {
    z-index: 2;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.content-about-title-page {
    margin-top: -500px;
    margin-left: 90px;
    font-size: 30px;
    font-weight: 800;
}

.content-about-paragraph{
    width: 60vw;
    height: auto;
    padding: 30px;
    box-shadow: 0px 0px 10px -2px #0000004D;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 60px;
    margin-left: -170px;
    background-color: white;
}

#content-about-bold-paragraph{
    font-weight: bold;
}

.content-services{
    z-index: 2;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.content-services-title {
    margin-top: -600px;
    margin-left: 90px;
    font-size: 30px;
    font-weight: 800;
}

.content-services-information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 100%;
    align-items: center;
    margin-left: -290px;
}

.services-information-header {
    display: flex;
    justify-content: center;
    color: #efe60b;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.services-information {
    text-align: center;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 18px;
    font-weight: 300 bold;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
    background-size: contain;
    width: 25vw;
    height: 70vh;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

#services-information-service {
    background-image: url(../img/s3\ ft1.png);
}

#services-information-performance {
    background-image: url(../img/s3\ ft2.png);
}

#services-information-technology{
    background-image: url(../img/s3\ ft3.png);
}

.content-differentials{
    z-index: 2;
    position: relative;
    height: 100vh;
}
.content-differentials-title{
    margin-left: 90px;
    font-size: 30px;
    font-weight: 800;
}

.content-differentials-information{
    display: flex;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    margin-left: 60px;
}

.cards-differentials{
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
    background-size: contain;
    height: 60vh;
    width: 15vw;
    padding: 55px;
    font-size: 18px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

#first-differentials{
    
    background-image: url(../img/s4\ ft1.png);
   
}

#second-differentials{
    
    background-image:  url(../img/s4\ ft2.png);
    
}

#third-differentials{
   
    background-image: url(../img/s4\ ft3.png);
   
}

.content-footer{
    height: 100vh;
    width: 100%;
    background-color: #efe60b;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(23, 21, 21);
    color: white;
    padding: 40px 80px;
    height: 75vh;
    width: 100%;
    display: block;
}

.content-social-networks {
    width: 30vw;
    float: left;
}

.facebook-linkedin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.img-social-media-footer {
    height: auto; 
    width: auto; 
    max-width: 15px; 
    max-height: 15px;
} 

.content-contact-social-media-footer {
    display: flex;
    width: 85%;
    height: 40px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.content-address-footer{
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#paragraph-address-footer {
    margin-left: 10px;
}

.paragraph-footer{
    font-size: 16px;
    font-weight: 600;
}

#first-paragraph-footer {
    color:white;
}

#second-paragraph-footer {
    color:#efe60b;
}

#third-paragraph-footer {
    color:#1cd4e9;
}

.content-registration-send-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(161, 161, 161);
    width: 30vw;
    float: right;
    padding: 20px;
}

 footer, input, button, select {
    border: none;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 0;
 }

 footer input:focus { 
    outline: none; 
    border: 2px solid rgb(28, 212, 233); 
}

 #investment:focus {
    outline: none; 
    border: 2px solid rgb(28, 212, 233); 
 }

.input-message {
    height: 120px;
}

#button-message-send{
    margin-bottom: 0;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(28, 212, 233);
    letter-spacing: 1px;
    box-sizing: content-box;
}

#button-message-send:hover{
    background-color: rgb(9, 151, 167);
    transition: all 0.5s linear;
}

@media (max-width: 1090px) {

    .nav-scrolling-active nav {
        display: none;
    }

    nav a{
        display: none;
    }

    #logo-header{
        display: block;
        margin-bottom: 15px;
    }
    
    #header {
        display: flex; 
        background-color: rgb(0, 0, 0, 1);
        align-items: center;
        justify-content: space-around;
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 70px;
    }
    
    #menu {
        display: block;
        position: absolute;
        background-image: url(../img/menu.svg);
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center center;
        background-color: transparent;
        width: 50px;
        height: 40px;
        left: 20px;
        bottom: -10px;
    }

    .apresentation{
        margin: 0 auto;
        top:25vh;
    }

    .title-presentation{
        font-size: 26px;
    }

    .description-presentation{
        font-size: 14px;
        width: 80vw;
    }

    .button-contact-presentation{
        font-size: 14px;
        width: 70VW;
        margin-top: 10%;
        bottom: 0;
    }

    .firstbar {
    display: none;
    }

    .secondbar {
    display: none;
    }

    .content-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        height: 85vh;
}
    
    .content-about-title-page {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: start;
        font-size: 16px;
        margin: 0 auto;
        background: linear-gradient(white 50%, #efe60b 30%, white 80% );
    }

    .content-about-paragraph{
        display: flex;
        align-items: center;
        justify-content: stretch;
        font-size: 10px;
        margin: 0 auto;
        width: 65vw;
        height: auto;
        font-size: 14px;

    }
    
    .content-services{
        display:inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300%;
    }

    .content-services-title {
        font-size: 16px;  
        margin: 0 auto; 
        background: linear-gradient(white 50%, #efe60b 30%, white 80% );   
}
    
    .content-services-information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
}

    .services-information-header {
        font-size: 14px;        
    }

    .services-information {
        font-size: 14px;
        width: 60vw;
        height: 40vh;
        text-align: center;
        padding: 90px;
    }

    .content-differentials{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300%;
        margin: 0 auto;
}

    .content-differentials-information{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto auto;
    }
    
    .content-differentials-title{
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(white 50%, #efe60b 30%, white 80% );
    }

    .cards-differentials{
        display: flex;

        font-size: 14px;
        text-align: center;
        width: 50vw;
        height: 45vh;
        justify-content: start;
        align-items: center;
        text-align: center;
    }

    .footer{
        display:flex;
        flex-direction: column;
        align-items:center;
        height: 130vh;
        padding: 20px;
        padding-bottom: 0px;
    }

    .content-footer{
        height: 150vh;
        width: 100%;
    }

    .content-social-networks{
        display:block;
        position: absolute;
        flex-direction: column;
        height: auto;
        width: 90%;
        margin-top: 0px;
        padding: 0px;
    }

    .content-contact-social-media-footer {
        font-size: 10px;
    }

    .content-address-footer{
        font-size: 10px;
    }
    .paragraph-footer{
        font-size: 12px;
    }
   
    .content-registration-send-message{
        display: flex;
        position: relative;
        margin-top: auto;
        bottom: 0px;
        margin-bottom: 0px;
        width: 100%;
        align-items: center;
        background-color: rgb(161, 161, 161);
        padding: 20px;
    }
}